<h1>hello</h1>
{{!-- {{#each carByLocation}}

  <div class="card" style="width: 18rem;">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrDRFoXBJ5uhrTGiAlIijALxnPh7Mz9xmKDg&usqp=CAU"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h3>{{carByLocation.brand}} {{model}}</h3>
      <li><p class="card-text"><strong>Size:</strong> {{size}}</p></li>
      <li><p class="card-text"><strong>Size:</strong> {{transmission}}</p></li>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
  </div>
{{/each}} --}}